.quotes{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10vw;
}
.quote{
    font-size: 1rem;
}
.quotetext{
    height: 20vh;
}
.quotename{
    float: right;
    font-size: 1rem;
    font-style: italic;
}
.dummy{
    width:60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width:800px){
    .dummy{
        width:40vw;
    }
    .quote{
        font-size: 1.5rem;
    }
}
