.loader{
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    background-color: #d9d9d9;
    z-index: 3;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    overflow: hidden;
}
.loader h2{
    font-size: 2.5rem;
    font-weight: 400;
}
.loader p{
    font-family: 'DM Mono';
}
.greet{
    text-align: center;
}
.english{
    font-style: italic;
}