.about{
    height: 90vh;
    width: 92vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4vw;
}
.about h2{
    font-family: 'Raleway';
    font-size: 2rem;
}

@media only screen and (min-width:800px) {
    .about{
        width: 100vw;
        height: 100vh;
        padding: 0 0 0 3vw;
        justify-content: flex-start;
        text-align: left;
    }
    .about h2{
        font-size: 3rem;
    }
    .about p{
        font-size: 1.15rem;
        margin-bottom: 2rem;
    }
}