.intro{
    display: flex;
    height: 60vh;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.intro h2{
    font-family: 'Raleway';
    font-size: 2rem;
}
.intro p{
    font-size: 1rem;
}

@media only screen and (min-width:800px) {
    .intro{
        height: 95vh;
    }
    .intro h2{
        font-size: 3rem;
        font-weight: 400;
    }
    .intro p{
        font-size: 1.5rem;
    }
}