@import url('https://fonts.googleapis.com/css2?family=Raleway&family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima&family=Mukta&family=Poppins:wght@200&display=swap');
body{
  background-color: #d9d9d9;
  font-family: 'DM Mono', monospace;
  font-weight: 400;
  margin:0;
  overflow-x: hidden;
  color: #232020;
}