footer{
    width: 90vw;
    padding: 1vh 5vw;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #232020;
}

footer a:hover{
    text-decoration: underline;
}